
<div class="row">

    <div class="card border-primary mb-3" style="max-width: 18rem;" *ngFor="let playlist of playlists">
        <div class="card-header">{{playlist.nombre}}</div>
        <div class="card-body text-primary">
          <h5 class="card-title">{{playlist.descripcion}}</h5>
          <p class="card-text">
              <span *ngFor="let cancion of playlist.canciones" class="badge badge-pill badge-primary">{{cancion.titulo}}</span>
            </p>
            <button type="button" class="btn btn-danger" (click)='borrarPlayList(playlist)'>Delete</button>
        </div>
      </div>

  </div>
